<h1><%= @lecture_name.content %>の 情報一覧</h1>

<% if @lectures.any? %>
<table class="table">
  <tr>
    <th class="text-center">ID</th>
    <th class="text-center">講師</th>
    <th class="text-center">年度</th>
    <th class="text-center">カテゴリー</th>
  </tr>
  <% @lectures.each do |lecture| %>
    <tr>
      <td><%= link_to lecture.id, lecture_path(lecture)%></td>
      <td class="text-center"><%= lecture.lecturer.name %></td>
      <td class="text-center"><%= lecture.year %></td>
      <td class="text-center"><%= lecture.kind.content %></td>
    </tr>
  <% end %>
  <%= paginate @lectures %>
<% else %>
  <p>情報はありません</p>
<% end %>